<h1><%= @offer.user.username %>'s Offer</h1>
<em>Coins: <%= @offer.coins %></em>
<div class="row">
  <div class="col s12 m12 l4">
    <%= render 'players_for_offer' %>
  </div>
  <div class="col s12 m12 l8">
    <%= render 'comment_area' %>
  </div>
</div>
<%= link_to "Trade Details", @trade %>
<% if logged_in? && current_user.id == @offer.user_id %>
  <%= link_to "Edit Offer", edit_trade_offer_path(@trade, @offer) %>
<% end %>

<% if logged_in? && current_user_posted_trade%>
  <%= link_to "Accept Offer", trade_offer_accept_path(@trade, @offer), method: :post %>
<% end %>
