<!DOCTYPE html>
<html>
  <head>
    <title>HUTrader</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'partials/nav' %>
    <div class="container">
      <%= render 'partials/flash_messages'%>
      <%= yield %>
    </div>
    <%= render 'partials/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
